# Ignore folder
Classification/quantum/Results/
Classification/quantum/Data/

# Ignore swp
*.swp
*.swo

# Ignore R files
*.Rhistory
*.RDS

# Ignore tar files 
*tar.gz

# Ignore .pdf and .ai files
*pdf
*ai

# Ignore MAC .DS_STORE
*DS_Store
